repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: d61d4a26db08e631daacba20d6fd346d918aac95
    hooks:
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: d61d4a26db08e631daacba20d6fd346d918aac95
    hooks:
      - id: debug-statements

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort

  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
      - id: flake8
        additional_dependencies:
          [
            'flake8-assertive',
            'flake8-comprehensions',
            'flake8-mutable',
            'flake8-print',
            'flake8-self',
            'pep8-naming',
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.740
    hooks:
      - id: mypy
